/* Variable global para controlar el tamaño desde un solo lugar */
:host {
  --size-icon-necho: 86px; 
}

/* Ajuste para los iconos de fuente */
.icon-necho {
  font-size: var(--size-icon-necho);
  height: var(--size-icon-necho);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444; /* Color base de los iconos */
  transition: color 0.3s ease;
}

/* Efecto Hover para las tarjetas */
.modulo-card {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.08);
    border-color: #0d6efd;
    background-color: #eefffe;

    /* El icono también cambia de color al hacer hover */
    .icon-necho {
      color: #0d6efd;
      transform: scale(1.1);
    }
  }
}