<div class="container-fluid vh-100 d-flex flex-column p-3 bg-light page-wrapper">
  <header class="modulo-header mb-3 flex-shrink-0">
    <h4 class="mb-1 fw-semibold text-dark">Marcas</h4>
    <small class="text-muted">Gestión de marcas por proveedor</small>
  </header>

  <div class="modulo-contenido panel-scroll flex-grow-1 w-100">
    <article class="card border-0 shadow-sm rounded-4 overflow-hidden bg-white h-100">
      <div class="card-body p-4 h-100">
        <div class="row g-4 h-100">
          <section class="col-lg-5">
            <div class="erp-panel h-100">
              <h6 class="erp-section-title fw-semibold text-secondary small text-uppercase mb-3">
                Nueva marca
              </h6>

              <form [formGroup]="form" (ngSubmit)="guardar()" class="d-grid gap-3">
                <div>
                  <label class="form-label erp-label small text-muted fw-medium">
                    Nombre de marca
                  </label>
                  <input
                    formControlName="nombre"
                    class="form-control erp-input rounded-3"
                    placeholder="Ej. Havoline, Mobil, Castrol, etc."
                  />
                </div>

                <div>
                  <label class="form-label erp-label small text-muted fw-medium"> Proveedor </label>
                  <select
                    formControlName="proveedorId"
                    class="form-select erp-input rounded-3"
                    (change)="onProveedorChange()"
                  >
                    <option value="">Seleccione</option>
                    <option *ngFor="let p of proveedores" [value]="p.id">
                      {{ p.proveedor }}
                    </option>
                  </select>
                </div>

                <div class="text-end pt-2">
                  <button class="btn btn-primary px-4 rounded-3 btn-guardar-erp">
                    Crear marca
                  </button>
                </div>
              </form>
            </div>
          </section>

          <section class="col-lg-7">
            <div class="erp-panel panel-lista-marcas">
              <h6 class="erp-section-title fw-semibold text-secondary small text-uppercase mb-3">
                Marcas del proveedor
              </h6>

              <div class="d-grid gap-2">
                <div
                  *ngFor="let m of marcasFiltradas"
                  class="d-flex justify-content-between align-items-center p-3 border rounded-3 bg-white item-marca"
                >
                  <span class="fw-medium text-dark">
                    {{ m.nombre }}
                  </span>

                  <span class="erp-badge erp-badge-secondary px-2 py-0.5 rounded-2 fw-medium small">
                    {{ m.marcaID }}
                  </span>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </article>
  </div>
</div>
