/* Variable global para controlar el tamaño de los iconos */
:host {
  --size-icon-cajero: 90px; 
}

.icon-necho {
  font-size: var(--size-icon-cajero);
  height: var(--size-icon-cajero);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  transition: all 0.3s ease;
}

.modulo-card {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 20px; /* Bordes un poco más redondeados para cajeros */
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &:hover {
    transform: translateY(-8px); /* Salta un poco más al ser botones grandes */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-color: #f39c12; /* Color naranja (Cajero) */
    background-color: #fffaf0;

    .icon-necho {
      color: #f39c12;
      transform: scale(1.1);
    }
  }
}